html{
    background-size: cover;
    background-attachment: fixed;
}

body{
  margin: 50px;
}

#inpReg{
    width: 90%;
    height: 170px;
    text-align: center;
    font-style: oblique;
    border-radius: 60px;
    border-style: groove;
    border-width: thick;
    background-color: gray;

    padding: 3%;

}
#user_reg{
  font-style: oblique;

}
h3{
  text-align: center;
  font-style: oblique;
  font-size: 50px;
  color: CadetBlue;
}
h1{
  text-align: center;
  font-size: 60px;
  color: CadetBlue;
}

#user_reg{
  border-radius: 40px;

}

li{
  list-style: none;
  border-radius: 60px;
  width: 25%;
  height: 35px;
  font-style: oblique;
  border-style: solid;
  font-size: 25px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.myRegs{
  font-size: 20px;

}
